<!DOCTYPE html>
<html ng-app="myApp" ng-controller="global">
<head lang="{{ lang }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="İnsan, mekan, enerji ve Çevrekan, enerji ve çevre kavramlarını nitelikli yaşam kavramıyla bütünleştirecek projelerde yer almak, hizmet vermek misyonuyla kurulmuştur.">
  <meta name="author" content="Taha ERDEN">

  <title>Dernek İMEÇE</title>

  <link href="https://fonts.googleapis.com/css?family=Raleway&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/ihover.min.css"/> -->
  <!-- <link rel="stylesheet" type="text/css" href="css/slider-pro.min.css" media="screen" /> -->
  <!-- <link rel="stylesheet" href="css/gridfolio.min.css"> -->
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body class="slimscroll">
  <nav id="nav-main" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.html"><img class="logo hidden-lg" src="img/logo.png" alt="Dernek İmeçe logo"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse slimscroll" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li><a href="index.html">{{'HOME' | translate}}</a></li> -->
          <li><a href="#hakkimizda">{{'ABOUT' | translate}}</a></li>
          <!-- <li><a href="#vizyon">{{'VISION' | translate}}</a></li> -->
          <li><a href="#projects">{{'PROJECTS' | translate}}</a></li>
          <li><a href="index.html" class="logoLink"><img class="logo visible-lg" style="margin: 0px auto;" src="img/logo.png" alt="Dernek İmeçe logo"></a></li>
          <!-- <li><a href="#misyon">{{'MISSION' | translate}}</a></li> -->
          <li><a href="#iletisim">{{'CONTACT' | translate}}</a></li>
          <!-- Language Option -->
          <li class="dropdown messages-menu">
            <a href="" class="dropdown-toggle language-selector" data-toggle="dropdown">
              <i class="fa fa-globe"></i>
              <span> {{'CURRENT_LANG' | translate}}</span>
              <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu">
              <li>
                <ul class="menu">
                  <li>
                    <a href="" ng-click="changeLanguage('en')">
                      English
                    </a>
                  </li>
                  <li>
                    <a href="" ng-click="changeLanguage('tr')">
                      Türkçe
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="container">
      <div class="col-sm-12">
        <img src="img/logo.png" alt="Dernek İMEÇE logo" class="img-responsive" style="margin: 0px auto; padding-top: 40px;">
        <h2>İnsan, Mekan, Enerji ve Çevre Derneği</h2>
        <!-- <div class="seperator"></div> -->
        <!-- <h4 class="text-secondary">Dernek geçmişi, uzmanlık alanları ve deneyimleri</h4> -->
      </div>
    </div>
  </div>


  <div class="row">
    <div class="container">
      <div id="hakkimizda" class="col-md-4">
        <h2><i class="fa fa-info-circle"></i> {{'ABOUT' | translate}}</h2>
        <div class="seperator"></div>
        <h4 class="text-secondary">{{'ABOUT_DESC' | translate}}</h4>
        <div class="col-sm-12">
          <p>
            {{'ABOUT_TEXT' | translate}}
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <h2><i class="fa fa-eye"></i> {{'VISION' | translate}}</h2>
        <div class="seperator"></div>
        <h4 class="text-secondary">{{'VISION_DESC' | translate}}</h4>
        <p ng-bind-html="'VISION_TEXT' | translate">
        </p>
      </div>
      <div class="col-md-4">
        <h2><i class="fa fa-handshake-o"></i> {{'MISSION' | translate}}</h2>
        <div class="seperator"></div>
        <h4 class="text-secondary">{{'MISSION_DESC' | translate}}</h4>
        <p ng-bind-html="'MISSION_TEXT' | translate">
        </p>
      </div>
    </div>
  </div>


  <div id="projects" class="row">
    <div class="container">
      <div class="col-sm-12">
        <h2><i class="fa fa-pencil"></i> {{'PROJECTS_APPLIED' | translate}}</h2>

        <!-- <a href="#portfolio-details" ng-click="activeProject = 1" class="portfolio-thumbnail col-md-6 col-sm-12">
          <img src="img/projects/AFCP.jpg" alt="image">
          <span class="portfolio-title">AFCP</span>
        </a> -->
        <a href="#portfolio-details" ng-click="activeProject = 2" class="portfolio-thumbnail col-md-6 col-sm-12">
          <img src="img/projects/tamzara.jpg" alt="image">
          <span class="portfolio-title">{{'PROJECT2_SHORTNAME' | translate}}</span>
        </a>
        <a href="#portfolio-details" ng-click="activeProject = 3" class="portfolio-thumbnail col-md-6 col-sm-12">
          <img src="img/projects/kura.jpg" alt="image">
          <span class="portfolio-title">{{'PROJECT3_SHORTNAME' | translate}}</span>
        </a>
        <a href="#portfolio-details" ng-click="activeProject = 4" class="portfolio-thumbnail col-md-6 col-sm-12">
          <img src="img/projects/icd.jpg" alt="image">
          <span class="portfolio-title">{{'PROJECT4_SHORTNAME' | translate}}</span>
        </a>
      </div>

      <div class="col-sm-12" id="portfolio-details" ng-show="activeProject">
        <i ng-click="activeProject = null" class="fa fa-close portfolio-details-close"></i>
        <h3>{{'PROJECT' + activeProject + '_HEADER' | translate}} </h3>
        <hr>
        <p ng-bind-html="'PROJECT' + activeProject + '_DESC' | translate"></p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="container-fluid">
      <div id="myMap" style="width:100%;height:400px"></div>
    </div>
  </div>

  <div class="row">
    <div class="container text-center">
      <div id="iletisim" class="col-md-12">
        <h2>{{'CONTACT' | translate}}</h2>
        <div class="seperator"></div>
        <h4 class="text-secondary">{{'CONTACT_DESC' | translate}}</h4>
        <div class="col-sm-4" style="min-height: 230px;">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
          </span>
          <br>
          <h3>{{'ADDRESS' | translate}}</h3>
          <p class="text-center">
            Zekai Apaydın sok. 20/A Oran/Çankaya/Ankara, Türkiye
          </p>
        </div>
        <div class="col-sm-4" style="min-height: 230px;">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
          </span>
          <br>
          <h3>{{'PHONE' | translate}}</h3>
          <p class="text-center">
            90 312 491 34 50
          </p>
        </div>
        <div class="col-sm-4" style="min-height: 230px;">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
          <br>
          <h3>{{'EMAIL' | translate}}</h3>
          <p class="text-center">
            info@dernekimece.com
          </p>
        </div>
      </div>
    </div>
  </div>



  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-animate.min.js"></script>
  <script type="text/javascript" src="js/angular-cookies.min.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="js/angular-translate.min.js"></script>
  <script type="text/javascript" src="js/angular-translate-loader-static-files.min.js"></script>
  <script type="text/javascript" src="js/angular-translate-storage-cookie.min.js"></script>
  <script type="text/javascript" src="js/angular-translate-storage-local.min.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>


  <script type="text/javascript" src="js/bootstrap.min.js"></script>

  <script>
    $('a[href*=\\#]').on('click', function(event) {
      event.preventDefault();
      var hash = this.hash
      setTimeout(function() {
        $('html,body').animate({
          scrollTop: $(hash).offset().top - 150
        }, 500);
      }, 200);
    });

    // Smooth scrolling when the document is loaded and ready
    $(document).ready(function() {
      if (location.hash) {
        $('html,body').animate({
          scrollTop: $(location.hash).offset().top - 150
        }, 500);
      }
    });
  </script>
  <script>
    var map;

    function initMap() {
      var mapOptions = {
        center: new google.maps.LatLng(39.848192, 32.818620),
        zoom: 17,
        mapTypeControl: false,
        zoomControl: false,
        scrollwheel: false,
        scaleControl: false,
        navigationControl: false,
        streetViewControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("myMap"), mapOptions);
      var marker = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(39.848192, 32.818620)
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkXGd6Q3I0atCd4bEMQ512AOpHgEipWIg&callback=initMap"></script>
</body>
</html>
